<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us Page</title>
    <link rel="stylesheet" href="/css/AboutUs.css">
</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <a href="/AboutUs"><img src="/images/logo/bull.png" alt="MyStockComparator.com"></a>
        </div>
        <ul class="push">
            <li class="item"><a href="#">Home</a></li>
            <li class="item"><a href="#">Comparator</a></li>
            <li class="item"><a href="#">About Us</a></li>
            <li class="item"><a href="#">Contact Us</a></li>
            <li class="item"><a href="#">Sign Up</a></li>
        </ul>
    </nav>
    <section class="about">
        <div class="main">
            <img src="/images/photos/realSaurabh1.jpg" alt="SaurabhImage">
            <div class="about-text">
                <h3>About us</h3>
                <h5>Saurabh Ruikar :<span>Back-end Developer</span></h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis laudantium mollitia quo laboriosam repellat facere quaerat. Harum laborum vitae illo, voluptate voluptatum, aspernatur facere, error tempore esse reiciendis excepturi ad!</p>
            </div>
        </div>
        <div class="main">
            <img src="/images/photos/realswapnil.jpg" alt="swapnilImage">
            <div class="about-text">
                <h3>About us</h3>
                <h5>Swapnil Thorat :<span>Front-end Developer</span></h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis laudantium mollitia quo laboriosam repellat facere quaerat. Harum laborum vitae illo, voluptate voluptatum, aspernatur facere, error tempore esse reiciendis excepturi ad!</p>
            </div>
        </div>
    </section>
    
</body>
</html>