<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Online Stock Comparator In India | MyStockComparator.com</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/homeStyle.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Bree+Serif&display=swap"
    rel="stylesheet">
</head>
<body> 

    <nav id="navbar">
        <div id="logo">
           <a href="/"> <img src="../static/images/logo/bull.png" alt="MyStockComparator.com"></a>
        </div>
        <ul class="push">
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/Comparator">Comparator</a></li>
            <li class="item"><a href="/AboutUs">About Us</a></li>
            <li class="item"><a href="/ContactUs">Contact Us</a></li>
            <li class="item"><a href="/SignUp">Sign Up</a></li>
        </ul>
    </nav>
    <section id="home">
        <!-- <h1 class="h-primary">Welcome</h1> -->
        <!-- <h1 class="h-primary">To</h1> -->
        <h1 class="h-primary">Stock Comparator</h1>

        <p class="center">Click on the below button to redirect to comparator page.</p>
        <a href="/Comparator"><button class="btn">Click me!</button></a>
       
    </section>
</body>
</html>